$lfs-blue: #006ac6;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;

#chart {
  height: 8rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid #76737a;
  width: 400px;
}

#chart div {
  flex: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.general {
  background: linear-gradient(to bottom, #36166f, #ca19a4);
}
.api {
  background: linear-gradient(to bottom, red, #e80532);
}
.accessibility {
  background: linear-gradient(to bottom, rgb(38, 174, 4), #08a114);
}
.e2e {
  background: linear-gradient(to bottom, rgb(186, 150, 8), #b89d03);
}
.ui {
  background: linear-gradient(to bottom, rgb(7, 29, 172), #031d9e);
}

.bold {
  font-weight: bold;
}

table {
    width: 20%;
    margin-bottom: 1em;
    caption {
        text-transform: uppercase;
        font-weight: bold;
        color: $lfs-yellow;
        text-align: center;
    }
    thead {
        border-top: 2px solid $lfs-yellow;
        border-bottom: 2px solid $lfs-yellow;
        th {
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            color: $lfs-blue;
            border: 1px solid #F1F1F1;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #F1F1F1;
            color: $lfs-grey;
            td {
                padding: 10px;
                border: 1px solid #F1F1F1;
            }
            th {
                padding-left: 10px;
                border: 1px solid #F1F1F1;
            }
        }
    }
    tfoot {
        color: $lfs-yellow;
        font-style: italic;
        border-bottom: 2px solid $lfs-yellow;
        tr {
            td {
                padding: 10px;
                border: 1px solid #F1F1F1;
            }
        }
    }
}
