#chart {
  height: 8rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid #76737a;
  width: 400px;
}

#chart div {
  flex: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.general {
  background: linear-gradient(to bottom, #36166f, #ca19a4);
}
.api {
  background: linear-gradient(to bottom, red, #e80532);
}
.accessibility {
  background: linear-gradient(to bottom, rgb(38, 174, 4), #08a114);
}
.e2e {
  background: linear-gradient(to bottom, rgb(186, 150, 8), #b89d03);
}
.ui {
  background: linear-gradient(to bottom, rgb(7, 29, 172), #031d9e);
}
